.login {
    margin: auto;
    width: 25%;
}

.login-header {
    font-family:"Times New Roman";
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.forgot-password {
    float: right;
}

.login-button {
    width: 100%;
    background-color: firebrick;
    color: #fff;
    border: 1px solid firebrick;
}

.login-button:hover {
    background-color: #fff;
    color: firebrick;
    border: 1px solid firebrick;
}

.login-signup {
    text-align: center;
}

.login-signup a {
    color: firebrick;
}

.show-message {
    color: firebrick;
    font-weight: bold;
    text-align: center;
}