.MovieTitle{
    font-size: 40px;
    position:relative; 
    top:-60px;
    text-align:center;
    color:firebrick;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    /* background:rgb(230, 227, 227); */
}

.comedy{
    position:absolute; 
    top:90px;
    left:150px;
    font-size: 20px;
    color:brown;
    font-style: italic;
    font-weight: bold;
}

.comedy1{
    position:absolute; 
    top:130px;
    left:100px;
}
.comedy2{
    position:absolute; 
    top:130px;
    left:400px;

}
.comedy3{
    position:absolute; 
    top:130px;
    left:700px;

}
.comedy4{
    position:absolute; 
    top:130px;
    left:1000px;

}
.comedy5{
    position:absolute; 
    top:130px;
    left:1300px;

}

.thriller{
    position:absolute; 
    top:530px;
    left:150px;
    font-size: 20px;
    color:brown;
    font-style: italic;
    font-weight: bold;
}

.thriller1{
    position:absolute; 
    top:590px;
    left:100px;
}

.thriller2{
    position:absolute; 
    top:590px;
    left:400px;

}

.thriller3{
    position:absolute; 
    top:590px;
    left:700px;

}

.thriller4{
    position:absolute; 
    top:590px;
    left:1000px;

}

.thriller5{
    position:absolute; 
    top:590px;
    left:1300px;

}
.romance{
    position:absolute; 
    top:990px;
    left:150px;
    font-size: 20px;
    color:brown;
    font-style: italic;
    font-weight: bold;
}
.romance1{
    position:absolute; 
    top:1050px;
    left:100px;
}
.romance2{
    position:absolute; 
    top:1050px;
    left:400px;

}
.romance3{
    position:absolute; 
    top:1050px;
    left:700px;

}
.romance4{
    position:absolute; 
    top:1050px;
    left:1000px;

}
.romance5{
    position:absolute; 
    top:1050px;
    left:1300px;

}

.horror{
    position:absolute; 
    top:1450px;
    left:150px;
    font-size: 20px;
    color:brown;
    font-style: italic;
    font-weight: bold;
}
.horror1{
    position:absolute; 
    top:1510px;
    left:100px;
}
.horror2{
    position:absolute; 
    top:1510px;
    left:400px;

}
.horror3{
    position:absolute; 
    top:1510px;
    left:700px;

}
.horror4{
    position:absolute; 
    top:1510px;
    left:1000px;

}
.horror5{
    position:absolute; 
    top:1510px;
    left:1300px;

}

.action{
    position:absolute; 
    top:1910px;
    left:150px;
    font-size: 20px;
    color:brown;
    font-style: italic;
    font-weight: bold;
}
.action1{
    position:absolute; 
    top:1970px;
    left:100px;
}
.action2{
    position:absolute; 
    top:1970px;
    left:400px;

}
.action3{
    position:absolute; 
    top:1970px;
    left:700px;

}
.action4{
    position:absolute; 
    top:1970px;
    left:1000px;

}
.action5{
    position:absolute; 
    top:1970px;
    left:1300px;

}

.crime{
    position:absolute; 
    top:2370px;
    left:150px;
    font-size: 20px;
    color:brown;
    font-style: italic;
    font-weight: bold;
}
.crime1{
    position:absolute; 
    top:2430px;
    left:100px;
}
.crime2{
    position:absolute; 
    top:2430px;
    left:400px;

}
.crime3{
    position:absolute; 
    top:2430px;
    left:700px;

}
.crime4{
    position:absolute; 
    top:2430px;
    left:1000px;

}
.crime5{
    position:absolute; 
    top:2430px;
    left:1300px;

}

.line1{
    position:relative; 
    top:390px;
}

.line2{
    position:relative; 
    top:850px;
}

.line3{
    position:relative; 
    top:1300px;
}

.line4{
    position:relative; 
    top:1750px;
}

.line5{
    position:relative; 
    top:2200px;
}

