.all-movie-list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
}
.each-movie-detail {
    width: 280px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 40px;
}
.each-movie-detail:hover {
    background-color: #cccccc;
    opacity: 0.7;
}