.movie-page {
    margin: auto;
    width: 80%;
}

.movie-name {
    font-family:"Times New Roman";
    font-size: 28px;
    font-weight: bold;
}

.introduction-header {
    font-family:"Times New Roman";
    font-size: 18px;
    font-weight: bold;
}

.review-header {
    font-family: "Times New Roman";
}
.detail-wapper {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 100px;
}

.movie-detail-container {
    display: flex;
    flex-direction: column;
    width: 820px;
}

.movie-name {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 5px;
}
.movie-info {
    display: flex;
    margin-top: 10px;
}

.movie-info p {
    font-weight: bold;
    flex-grow: 1;
}

.movie-message {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.movie-message p span {
    color: firebrick;
}

.intro-message {
    color: firebrick;
    font-weight: bold;
}

.introduction {
    font-size: 20px;
    margin-top: 10px;
    font-style: italic;
}

.review {
    margin-top: 30px;
}

.review-tip {
    color: firebrick;
    font-weight: bold;
    font-size: 20px;
}

.write-review-link {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.write-review-link:hover {
    color: firebrick;
}

.user-and-review {
    font-size: 18px;
    font-weight: bold;
}


.add-review-button {
    float: right;
}
.user-and-review span {
    font-weight: normal;
}

.write-button {
    display: flex;
    justify-content: space-between;
}

.write-btn {
    background-color: firebrick;
    color: #fff;
    font-size: 16px;
}

.likes {
    color: firebrick;
    font-style: italic;
    font-weight: normal;
}