.signup {
    margin: auto;
    width: 25%;
}

.signup-header {
    font-family:"Times New Roman";
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.signup-button {
    width: 100%;
    background-color: firebrick;
    color: #fff;
    border: 1px solid firebrick;
}

.signup-button:hover {
    background-color: #fff;
    color: firebrick;
    border: 1px solid firebrick;
}

.signup-login {
    text-align: center;
}

.signup-login a {
    color: firebrick;
}